@model IEnumerable<WardrobeMVCProject1._5.Models.Accessory>


@{
    ViewBag.Title = "Index";
}
<div class="finalGrey">

    <div class="row">
        <div class="sunnybackgroundaccess">
            <div class="col-lg-12">
                <p id="fashion"><img class="access" src="~/Content/images/sideways.jpg" /></p>
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                @*<div class="container">
                        <div class="row">

                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Photo)

                                @Html.DisplayNameFor(model => model.Name)

                                @Html.DisplayNameFor(model => model.Type)

                                @Html.DisplayNameFor(model => model.Price)

                                @Html.DisplayNameFor(model => model.ItemNumber)

                                @Html.DisplayNameFor(model => model.Purchase)

                                @Html.DisplayNameFor(model => model.Color.ColorName)

                                @Html.DisplayNameFor(model => model.Occasion.OccasionName)

                                @Html.DisplayNameFor(model => model.Season.SeasonName)
                            </div>

                        </div>
                    </div>*@



                @foreach (var item in Model)
            {
                    <div class="container tops">


                        <div class="row">
                            <div class="col-md-3">
                                <div class="cardOne">
                                    <img src="@Html.DisplayFor(modelItem => item.Photo)" alt="John" style="width:100%">
                                    <div class="container">
                                    </div>
                                    @Html.DisplayFor(modelItem => item.Name)

                                    @Html.DisplayFor(modelItem => item.Type)

                                    @Html.DisplayFor(modelItem => item.Price)

                                    @Html.DisplayFor(modelItem => item.ItemNumber)

                                    @Html.DisplayFor(modelItem => item.Purchase)

                                    @Html.DisplayFor(modelItem => item.Color.ColorName)

                                    @Html.DisplayFor(modelItem => item.Occasion.OccasionName)

                                    @Html.DisplayFor(modelItem => item.Season.SeasonName)
                                    <p><button>buy</button></p>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="cardTwo">
                                    <img src="@Html.DisplayFor(modelItem => item.Photo)" alt="John" style="width:100%">
                                    <div class="container">
                                    </div>
                                    @Html.DisplayFor(modelItem => item.Name)

                                    @Html.DisplayFor(modelItem => item.Type)

                                    @Html.DisplayFor(modelItem => item.Price)

                                    @Html.DisplayFor(modelItem => item.ItemNumber)

                                    @Html.DisplayFor(modelItem => item.Purchase)

                                    @Html.DisplayFor(modelItem => item.Color.ColorName)

                                    @Html.DisplayFor(modelItem => item.Occasion.OccasionName)

                                    @Html.DisplayFor(modelItem => item.Season.SeasonName)
                                    <p><button>buy</button></p>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="cardThree">
                                    <img src="@Html.DisplayFor(modelItem => item.Photo)" alt="John" style="width:100%">
                                    <div class="container">
                                    </div>
                                    @Html.DisplayFor(modelItem => item.Name)

                                    @Html.DisplayFor(modelItem => item.Type)

                                    @Html.DisplayFor(modelItem => item.Price)

                                    @Html.DisplayFor(modelItem => item.ItemNumber)

                                    @Html.DisplayFor(modelItem => item.Purchase)

                                    @Html.DisplayFor(modelItem => item.Color.ColorName)

                                    @Html.DisplayFor(modelItem => item.Occasion.OccasionName)

                                    @Html.DisplayFor(modelItem => item.Season.SeasonName)
                                    <p><button>buy</button></p>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="cardFour">
                                    <img src="@Html.DisplayFor(modelItem => item.Photo)" alt="John" style="width:100%">
                                    <div class="container">
                                    </div>
                                    @Html.DisplayFor(modelItem => item.Name)

                                    @Html.DisplayFor(modelItem => item.Type)

                                    @Html.DisplayFor(modelItem => item.Price)

                                    @Html.DisplayFor(modelItem => item.ItemNumber)

                                    @Html.DisplayFor(modelItem => item.Purchase)

                                    @Html.DisplayFor(modelItem => item.Color.ColorName)

                                    @Html.DisplayFor(modelItem => item.Occasion.OccasionName)

                                    @Html.DisplayFor(modelItem => item.Season.SeasonName)
                                    <p><button>buy</button></p>
                                </div>
                            </div>
                            <div>
                                @Html.ActionLink("Edit", "Edit", new { id = item.AccessoryID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.AccessoryID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.AccessoryID })
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>



@*<input type="button" class="btn btn-info" value="Puchase" onclick="location.href='@Url.Action("PurchaseForOrder", "Orders")'" />*@
