@model IEnumerable<WardrobeMVCProject1._5.Models.Order>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purchase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accessory.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bottom.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sho.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Top.Photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)


{
    if (item.Purchase == true)
    {
    <tr>
        <td>


            <a href="@Url.Action("ToggleDone", new { id=item.OrderID })">
                @if (item.Purchase==true)
                    {
                    <span class="glyphicon glyphicon-check"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-unchecked"></span>
                }
            </a>


            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purchase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accessory.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bottom.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sho.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Top.Photo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
        </td>
    </tr>
    }
}

</table>
